.alert-custom{
    background-color:#956da5;
    color:#fff;
  }


  .color-head{
    background-color: #956da5;
    color: white; 
  }

  .color-close{
    background-color: #956da5;
    color: white; 
  }
  .color-close:hover{
    background-color: #956da5;
    color: white; 
  }

  .blue1{
    background-color: #09b4ac;
    color: white; 
  }

  .blue2{
    background-color:#088f8e;
    color: white; 
  }

  .gris1{
    background-color:#59665d;
    color: white; 
  }

  .btnAddPet{
    position: relative; 
    top: 60px;
    background-color: #2cbebe;
    color: white; 
  }